doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
		style(type='text/css').
			@font-face {
				font-family: 'LuckiestGuy';
				src: url('./fonts/luckiest-guy.woff2') format('woff2');
				font-weight: 300;
				font-style: normal;
			}
			body {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
		title Lines
	body
		canvas#lines(width='0' height='0')
		script(src='script/helpers/common.js')
		script(src='script/Ball.js')
		script(src='script/PreparedBall.js')
		script(src='script/ActiveBall.js')
		script(src='script/Field.js')
		script(src='script/Score.js')
		script(src='script/Queue.js')
		script(src='script/scenes/MainScene.js')
		script(src='script/scenes/CoreScene.js')
		script(src='script/scenes/ResultScene.js')
		script(src='script/SceneManager.js')
		script(src='script/State.js')
		script(src='script/Renderer.js')
		script(src='script/Game.js')


