doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
		style(type='text/css').
			@font-face {
				font-family: 'LuckiestGuy';
				src: url('./fonts/luckiest-guy.woff2') format('woff2');
				font-weight: 300;
				font-style: normal;
			}
			body {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
		title Lines
	body
		canvas#lines(width='676' height='752')
		script(src='script/GameModel.js')
		script(src='script/GameRenderer.js')
		script(src='script/Game.js')


